# PHP
vendor/
.phpunit.result.cache
.phpunit.cache/

# Environment
.env

# Docker
.docker/
db_data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
storage/robot-media/*
!storage/robot-media/.gitkeep
